// Framework grid generation for USGS custom grids
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `@grid-columns`.

.make-usgs-grid-columns(@usgs-grid-columns) {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) when (@index = 1) { // initial
    @item: ~".usgs-@{usgs-grid-columns}-col-xs-@{index}, .usgs-@{usgs-grid-columns}-col-sm-@{index}, .usgs-@{usgs-grid-columns}-col-md-@{index}, .usgs-@{usgs-grid-columns}-col-lg-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @usgs-grid-columns) { // general; "=<" isn't a typo
    @item: ~".usgs-@{usgs-grid-columns}-col-xs-@{index}, .usgs-@{usgs-grid-columns}-col-sm-@{index}, .usgs-@{usgs-grid-columns}-col-md-@{index}, .usgs-@{usgs-grid-columns}-col-lg-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @usgs-grid-columns) { // terminal
    @{list} {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }
  .col(1); // kickstart it
}

.float-usgs-grid-columns(@class, @usgs-grid-columns) {
  .col(@index) when (@index = 1) { // initial
    @item: ~".usgs-@{usgs-grid-columns}-col-@{class}-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @usgs-grid-columns) { // general
    @item: ~".usgs-@{usgs-grid-columns}-col-@{class}-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @usgs-grid-columns) { // terminal
    @{list} {
      float: left;
    }
  }
  .col(1); // kickstart it
}

.calc-usgs-grid-column(@index, @class, @type, @usgs-grid-columns) when (@type = width) and (@index > 0) {
  .usgs-@{usgs-grid-columns}-col-@{class}-@{index} {
    width: percentage((@index / @usgs-grid-columns));
  }
}
.calc-usgs-grid-column(@index, @class, @type, @usgs-grid-columns) when (@type = push) {
  .usgs-@{usgs-grid-columns}-col-@{class}-push-@{index} {
    left: percentage((@index / @usgs-grid-columns));
  }
}
.calc-usgs-grid-column(@index, @class, @type, @usgs-grid-columns) when (@type = pull) {
  .usgs-@{usgs-grid-columns}-col-@{class}-pull-@{index} {
    right: percentage((@index / @usgs-grid-columns));
  }
}
.calc-usgs-grid-column(@index, @class, @type, @usgs-grid-columns) when (@type = offset) {
  .usgs-@{usgs-grid-columns}-col-@{class}-offset-@{index} {
    margin-left: percentage((@index / @usgs-grid-columns));
  }
}

// Basic looping in LESS
.loop-usgs-grid-columns(@index, @class, @type, @usgs-grid-columns) when (@index >= 0) {
  .calc-usgs-grid-column(@index, @class, @type, @usgs-grid-columns);
  // next iteration
  .loop-usgs-grid-columns((@index - 1), @class, @type, @usgs-grid-columns);
}

// Create grid for specific class
.make-usgs-grid(@class, @usgs-grid-columns) {
  .float-usgs-grid-columns(@class, @usgs-grid-columns);
  .loop-usgs-grid-columns(@usgs-grid-columns, @class, width, @usgs-grid-columns);
  .loop-usgs-grid-columns(@usgs-grid-columns, @class, pull, @usgs-grid-columns);
  .loop-usgs-grid-columns(@usgs-grid-columns, @class, push, @usgs-grid-columns);
  .loop-usgs-grid-columns(@usgs-grid-columns, @class, offset, @usgs-grid-columns);
}

.make-usgs-grid(@usgs-grid-columns) {
  .make-usgs-grid-columns(@usgs-grid-columns);

  // Extra small grid
  //
  // Columns, offsets, pushes, and pulls for extra small devices like
  // smartphones.

  .make-usgs-grid(xs, @usgs-grid-columns);

  // Small grid
  //
  // Columns, offsets, pushes, and pulls for the small device range, from phones
  // to tablets.

  @media (min-width: @screen-sm-min) {
    .make-usgs-grid(sm, @usgs-grid-columns);
  }


  // Medium grid
  //
  // Columns, offsets, pushes, and pulls for the desktop device range.

  @media (min-width: @screen-md-min) {
    .make-usgs-grid(md, @usgs-grid-columns);
  }


  // Large grid
  //
  // Columns, offsets, pushes, and pulls for the large desktop device range.

  @media (min-width: @screen-lg-min) {
    .make-usgs-grid(lg, @usgs-grid-columns);
  }  
}