/*******************************************************************************
*
* Custom USGS style
*
*
*
*
/******************************************************************************/
@font-face {
    font-family: 'TeXGyreHerosCnBold';
    src: url('../fonts/Gyre-Heros/texgyreheroscn-bold-webfont.eot');
    src: url('../fonts/Gyre-Heros/texgyreheroscn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gyre-Heros/texgyreheroscn-bold-webfont.woff') format('woff'),
         url('../fonts/Gyre-Heros/texgyreheroscn-bold-webfont.ttf') format('truetype'),
         url('../fonts/Gyre-Heros/texgyreheroscn-bold-webfont.svg#TeXGyreHerosCnBold') format('svg');
    font-weight: normal;
    font-style: normal;
	font-weight:100;
}

#side-navigation .active {
    background-color: #71a100;
    color: #fff;
}
#side-navigation>ul>li>a  {
    font-family: 'TeXGyreHerosCnBold';
    text-transform: uppercase;
font-weight: 100;
font-size: 1.25em;
-webkit-font-smoothing: antialiased;
color:#000;
}
#side-navigation ul ul li .active {
    font-weight: bold;
    color: #000;
    background:none;
}
#side-navigation ul ul {
    background-color: #f4f4f4;
}
.side_nav_nested {
  background-color: #fafafa; 
}
footer {
    background-color:#00264C; 
    /*background-repeat: no-repeat;
    background: url("../img/usgs_footer_bg.png");*/
}
footer .col-md-2 ul {
    list-style: none;
    padding-left: 0;
}
footer .col-md-2 ul a {
    color: #fff;
}

.header-usgs {
    background-color:#00264C;
}
.footer-usgs {
min-height: 120px;
background: none;
background-color:#00264C;
margin-top: 50px;
padding-top: 15px;
padding-bottom: 10px;
}

footer .col-md-2 h5 {
    font-weight: bold;
    color: #fff;
    font-size: 1.15em;
}
.footertext {

    font-size: x-small;
    color: #fff;
}

.footertext a {
    color: #fff;
}

.footertext a:hover {
    color: #fff;
}


.breadcrumb {
  background: #fff;
  margin-bottom: 0;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
}
h1.usgs, h2.usgs {
  margin-top: 0;
  margin-bottom: 20px;
}
h1.usgs {
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
}

h4.usgs {
  margin-top: 0px;
  margin-bottom: 10px;
}
h2.usgs {
  margin-top: 10px;
}

.nav > li > a {
  
}

.views-field h4 {
    font-family: 'texgyreheroscnregular' ;
}

.view-content {
    margin-bottom: 3em;
}

.views-exposed-form .views-exposed-widget .form-submit {
margin-top: 0;
}

h1.page-header {
    margin-top: 10px;
}
    
.badge-usgs {
  font-weight: normal;
}

.label-usgs {
  display: inline-block;
  font-weight: normal;
  margin: 3px;
  padding: 5px;
}

.row-usgs-view {
    margin-bottom: 2.5em;
    margin-top: 1em;
}

.page_overview {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}
/*   

Mega Menu 

*/
#menu-topics  {
    
    font-size:12px;
    padding-bottom:8px;
    padding-top: 8px;
    
}

a:link.menu-topics {
    color: #666666;
}

a:visited.menu-topics {
    color: #666666;
}

a:hover.menu-topics  {
    color: #1D5AAB;
}


#usgs-mega-menu h5.mega-menu-title {
    font-weight:bold;
    font-size:14px;
    padding-bottom:6px;
    padding-top:8px;
}

h5.mega-menu-title a  {
    color: #666666;
}

h5.mega-menu-title a:visited  {
    color: #000
}

h5.mega-menu-title a:hover  {
     color: #1D5AAB;
}

/*   

Mega Menu 

*/
p {font-family: sans-serif;}


/*   

Homepage

*/


.carousel-caption{right:20%;left:20%;padding-bottom:110px;}

.btn {border-radius: 0;}
 
.carousel-inner .item {  
background: #000;  
} 
.carousel-inner .item img { 
  opacity:0.5;
}

.carousel-inner {  
background: #000;  
} 

.carousel-inner img { 
  opacity:0.5;
}




.home_images {padding-top:60px;
padding-bottom:85px;
padding-left:95px;
padding-right:80px;}

.home_content {padding-top:10px;
text-align: center;}

.home_content_mobile {padding:15px;
text-align: center;}

/*   

Homepage

*/

h4 {color:#666666;
font-weight:bold;
font-size:18px;}

h4 a {color:#1D5AAB;}


.chevron-down {text-align:center;
opacity:0.5;
padding-bottom:30px;}

.to_top {
height: 3em;
position: relative;
top: -35px;
left: 0px;
clear: left;
display: block;
background-color: #249C1F;
color: #fff;
width: 1em;
padding-top: 1em;
padding-right: 1.75em;
padding-left: 1em;
}
#load_more_link {
    color: #249c1f;
    font-size: 1.3em;
}
.row .science-explorer-results {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
   
   
   







/*

mobile 
*/




.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #71a100;
  color: #fff;}



.navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: #71a100;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #71a100;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse, {
  background-color:#00264c;}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #1D5AAB;
    background-color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: #fff;
  }
  
}


  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: #fff;
  }
  
  
.navbar-toggle {
background-color: #00264c;
color: #fff;
}



.navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 15px;
    background-color: #fff;
    color: #fff;  }
  
  





/*

buttons
*/

.navbar-default .navbar-brand {
  color: #fff;
  background-color:#00264c;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}

#main-content h2 {
  margin-top: 0;
}

h1.usgs {
  border-bottom-style: none;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.carousel {
  margin-top: 0;
}






.btn-success {
  color: #ffffff;
  background-color: #71a100;
  border-color: #fff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #71a100;
  border-color: #fff;
}



.btn-slide {
  color: #fff;
  background-color:transparent;
  border-color: #fff;
}
.btn-slide:hover,
.btn-slide:focus,
.btn-slide:active,
.btn-slide.active,
.open .dropdown-toggle.btn-slide {
  color: #fff;
  background-color:transparent;
  border-color: #fff;
}

.btn-slide .badge {
  color: #ffffff;
  background-color: transparent;}



.lead {
  font-family: 'texgyreheroscnregular';
}


.lead p{
  font-family: 'texgyreheroscnregular';
    font-size: 18px;
}


.dropdowncolor {color: #71a100;}


.nav :hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;}


.home_images_overview {padding-top:50px;
padding-bottom:50px;
}

h5 a {color:#fff;}
h5 a:hover {color:#fff;}

#nav-usgs-header {
  background-color: #00264C;
  margin-left: 0px;
  margin-right: 0px
}

h4.nopaddingtop {
  padding-top: 0px;
  margin-top: 0px;
}

/* Styling for tabs in views */
.nav-tabs.nav-justified li.usgs-section-tab > a,
li.usgs-section-tab > a {
  //min-height: 2.5em;
  border-radius: 0px;
  padding: 10px 0px;
}

/*Styling for the section view portion of a hub page */
div#usgs-section-view {
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  
  min-height: 20em;
}

.data-and-tools .col-xs-1 {
    /*margin-right: 15px;*/
}
.data-and-tools .field-content h4, .data-and-tools .views-field-title h4, .field-content h4, .field-item h4 {
    margin-top: 0;
}

@container-large-desktop {.col-xs-2 + .col-xs-10, #main-content .col-md-2 + .col-md-10, .pane-content .col-md-2 + .col-md-10, div#main-content.view-content .col-md-2 + .col-md-10 {
    margin-left: -35px;
}}

div#main-content.view-content .col-md-2 + .col-md-10 {
    margin-left: -35px;
}

.mission_thumbs {
    width:100px;
}
.se_overview h4 {
    margin-top:0;
}

.disclaimer {
    margin: 2em 0;
}
#mm_gallery_tags {
    margin: 2em 0;
}
#mm_gallery_details {
    margin: 2em 0;
}
#mm_gallery_photographer_data, #mm_gallery_partner_data {
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2em;
}
#mm_gallery_tags .btn-default {
    color: #4f9bf2;
    border-color: #4f9bf2;
}
.btn-success a {
    color:#fff;
}

.accordion-heading {padding: 15px;
color:#fff;
background-color: #71a100;
margin-bottom: 1px;
}

.accordion-heading a {color:#fff;
}


.moiblepadding {padding: 15px;}

.navbar-default .navbar-toggle {
    border-color: #00264c;
    color:#fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00264c;}

#mobile-top-navbar ul, #usgs-mobile-menu {
    background-color: #71a100;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}


.navbar-default .navbar-nav > li > a {
  color: #fff;
}


#mm_gallery_transcript {
    overflow-y: scroll;
    height: 400px;
    margin-bottom: 2em;
    border: 1px solid #ccc;
    margin-top: 1em;
    padding: 1em;
}
#mm_gallery_description {
    margin-bottom: 2em;
}



.panel-region-carousel{
    padding-bottom: 30px;
    
    
}

.webcam-row {
    margin-bottom: 2em;
    
}
.webcam-row h4 {
    margin-top: 0;
}


.view-content .row {padding-top:15px;
padding-bottom: 15px;
margin-top: 0px;
margin-bottom: 0px;}



div#usgs-mega-menu > ul > li > div > ul {
    padding-left: 15px;
}

.view-content .panel-group {
margin-bottom: 0px;}


.view-content {
margin-bottom: 5px;}

.panel-heading {padding: 5px 0px;}


.view-content .img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  height: auto;
}
/* H4 padding and margin for field rows */

.view-content h4 {
margin-top: 0px;
margin-bottom: 0px;}



@media (max-width: 767px ) { 
    
    .data-and-tools .field-content h4, .data-and-tools .views-field-title h4, .field-content h4, .field-item h4, .view-content h4 {
    margin-top: 15px;}
    
    .nav-tabs.nav-justified li.usgs-section-tab > a, li.usgs-section-tab > a {
    border-radius: 0px;
    padding: 15px 0px;
    background-color: #eee;
    color: black;
    margin-bottom: 1px;
}

}

@media (max-width: 992px ) { 
    
    .data-and-tools .field-content h4, .data-and-tools .views-field-title h4, .field-content h4, .field-item h4 {
    margin-top: 15px;}
    
    .nav-tabs.nav-justified li.usgs-section-tab > a, li.usgs-section-tab > a {
    border-radius: 0px;
    padding: 15px 0px;
    background-color: #eee;
    color: black;
    margin-bottom: 1px;
}
    
}


.btn-info {
  color: #ffffff;
  background-color: #71a100;
  border-color: #fff;
}

#side-navigation ul > li > ul> li {
    padding-left: 15px;
    padding-right: 15px;
}

.video_thumbnail {
    width: 100px;
}

.video_thumbnail img {
    width: 100%;
}
.usgs_personnel_record span {
    display: block;
}


div#usgs-section-view {padding: 15px;
margin-bottom: 15px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;}



.nav-pills .nav-tabs.nav-justified li.usgs-section-tab > a, li.usgs-section-tab > a {padding-left: 15px;
}
button a {
    color:#fff;
}

.news_contact p {
    margin-bottom: 0;
}
.news_contact {
    margin-bottom: 2em;
}
.news_contact_name {
    font-size: 1.3em;
    font-family: inherit;

}

/*

Social Media Icons
*/

.social-media {
    float: right;
    padding-top: 15px;
}
.social-media .fa-twitter-square{color: #333333;
width: 20px;
height: 20px;}

.social-media a:hover .fa-twitter-square {color:#2A85FE;}

.social-media .fa-facebook-square {color: #333333;width: 20px;
    height: 20px;}

.social-media  a:hover .fa-facebook-square {color:#0061a3;}


.social-media .fa-google-plus-square{color: #333333;width: 20px;
    height: 20px;}
.social-media a:hover .fa-google-plus-square {color:#992727;}

.social-media .fa-linkedin-square{color: #333333;width: 20px;
    height: 20px;}
.social-media a:hover .fa-linkedin-square {color:#003366;}

.social-media .fa-envelope-o {color: #333333;width: 20px;
    height: 20px;}

.social-media a:hover .fa-envelope-o {color:#fffff;}

.social-media .fa-ellipsis-h {color: #333333;width: 20px;
    height: 20px;}
.social-media a:hover .fa-ellipsis-h  {color:#71a100}

/*

Footer Social Media Icons
*/


.footer-social-media {
    float: right;
    color:white;
    }

.footer-social-media .fa-twitter-square{color:white;
    width: 20px;
    height: 20px;}

.footer-social-media a:hover .fa-twitter-square {color:#55ACEE;}

.footer-social-media .fa-facebook-square {color: white;width: 20px;
    height: 20px;}

.footer-social-media  a:hover .fa-facebook-square {color:#3c5a99}


.footer-social-media .fa-google-plus-square{color:white;width: 20px;
    height: 20px;}
.footer-social-media a:hover .fa-google-plus-square {color:#dd4b39;}

.footer-social-mediaa .fa-linkedin-square{color:white;width: 20px;
    height: 20px;}
.footer-social-media a:hover .fa-linkedin-square {color:#0077B5;}

.footer-social-media .fa-envelope-o {color:white;width: 20px;
    height: 20px;}

.footer-social-media a:hover .fa-envelope-o {color:#fff;}

.footer-social-media .fa-linkedin-square {color:white;width: 20px;
    height: 20px;}
.footer-social-media a:hover .fa-linkedin-square {color:#0077b5}

.footer-social-media .fa-flickr  {color:white;width: 20px;
    height: 20px;}
.footer-social-media a:hover .fa-flickr {color:#fe0086}

.footer-social-media .fa-github  {color:white;width: 20px;
    height: 20px;}
.footer-social-media a:hover .fa-github  {color:#666666}

.footer-social-media .fa-youtube-play {color:white;width: 20px;
    height: 20px;}
.footer-social-media a:hover .fa-youtube-play {color:#a71416}

.footer-social-media .fa-instagram {color:white;width: 20px;
    height: 20px;}
.footer-social-media a:hover .fa-instagram {color:#666666}

hr {color:#666666;
border-width: .25px;}

/* Header */


.fa-usgs-header-science {
    left: 5%;
    top:-30px;
}

.fa-usgs-header-products {
    left: 25%;
    top:-30px;
}

.fa-usgs-header-news {
    left: 45%;
    top:-30px;
}

.fa-usgs-header-connect {
    left: 65%;
    top:-30px;
}

.fa-usgs-header-about {
    left: 85%;
    top:-30px;
}

.fa-usgs-header-indicator{
    margin-top: 83px;
}